*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: rgba(0, 0, 0, 0.142);
   ;
   font-family: Arial, sans-serif;
}
.main{
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
}
h1{
   color: #2d3436;
   margin-bottom: 40px;
}
.row{
   display: flex;
   justify-content:space-between;
}
.col{
   width: 350px;   
   position: relative;
   transition: transform 0.5s;
   cursor: pointer;
   text-align: center;
}
img{
   border-radius: 2px;
   display: block;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
   margin: auto;

   
}
.signature{
   background-color: #f1f1f1;
   margin-top: 5px;
   padding: 5px;
   border-radius: 3px;
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
}

div.col:hover{
   transform: scale(1.2);
}
.marker{
   border-radius: 50%;
   background-color: #2d3436;
   color: white;
   width: 25px;
   height:25px;
   display:inline-block;
   text-align: center;
   line-height: 25px;
}
span{
   color: #636e72;
}
@media screen and (max-width: 350px){
   .row{
      flex-direction: column;
   }
   .col{
      width: 100%;
      margin-bottom:40px;
   }
   .main{
      padding: 5px;
   }
   img,.signature{
      max-width: 300px;
   }
   div.col:hover{
      transform: scale(1.05);
   }
   h1{
      text-align: center;
      font-size: 25px;
   }
}
@media screen and (min-width: 350px){
   .row{
      flex-direction: column;
   }
   .col{
      width: 100%;
      margin-bottom:40px;
      margin-left:auto;
      margin-right: auto;
   }
   .main{
      padding: 10px;
   }
   img,.signature{
      max-width: 340px;
   }
   div.col:hover{
      transform: scale(1.05);
   }
   h1{
      text-align: center;
      font-size: 25px;
   }
}
@media screen and (min-width: 1100px){
   .row{
      flex-direction: row;
   }
   .col{
      width: 100%;
      margin-bottom:80px;
      margin-left:auto;
      margin-right: auto;
   }
   .main{
      padding: 10px;
   }
   img,.signature{
      max-width: 350px;
   }
   div.col:hover{
      transform: scale(1.2);
   }
   h1{
      text-align: center;
      font-size: 25px;
   }
}
